// breakpoints
$phone-s: 365;
$phone-m: 414;
$tablet: 767;
$desktop-xs: 940;
$desktop: 1024;
$desktop-lg: 1366;

// fonts
$font-main: "mw", sans-serif;
$font-second: "gt", sans-serif;

$max-width: 1443px;

:root {
  --black: #000000;
  --white: #FFFFFF;

  --primary-500: #F54932;

  --black-100: #313131;
  --black-200: #1F1F1F;

  --blue-100: #3057A2;

  --beige: #E9DED4;
  --orange: #FBCE51;

  --gray-100: #D0D0D0;

  // border radius
  --br--3: 3px;
  --br--5: 5px;
  --br--8: 8px;
  --br--10: 10px;
  --br--12: 12px;
  --br--15: 15px;
  --br--20: 20px;
  --br--25: 25px;
  --br--30: 30px;
  --br--66: 66px;
}