//BEGIN header
<header class="header section">
  <div class="container">
    <div class="header__wrap">
      <div class="header__wrap-logo">
        <a href="/">
          <img src="./icons/logo.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</header>
//END header
