.about {
    padding: 48px 0 0;

    &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        gap: 24px;

        h2 {
            font-size: 28px;
            line-height: 135%;
            text-transform: uppercase;
        }
    
        h2 span {
            color: var(--primary-500);
        }

        h2:nth-child(2) {
            order: 3;
        }

        &-img {
            display: flex;
            order: 2;
            width: 100%;
    
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    &__event {
        margin-top: 21px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &-img {
            position: relative;
            width: 100%;
            height: auto;

            img {
                width: 100%;
            }

            img:nth-child(2) {
                position: absolute;

                width: 100%;
                height: 100%;

                top: 0;
                left: 0;

                object-fit: cover;
                mix-blend-mode: color-burn;
            }
        }

        &-info {
            margin-top: 19px;
            padding: 0 20px;

            h2 {
                font-size: 28px;
                line-height: 135%;
                text-transform: uppercase;
            }

            h2 span {
                color: var(--primary-500);
            }

            p {
                font-size: 18px;
                line-height: 120%;
                font-family: $font-second;
                color: var(--blue-100);
            }
        }

        &-table {
            margin-top: 44px;
            margin-bottom: 40px;
        }

        &-table {
            padding: 0 1px;

            tbody {
                display: flex;
                flex-direction: column;

                gap: 16px;
            }

            table tr {
                position: relative;
                margin-top: 16px;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: flex-start;

                gap: 12px;
            }

            table tr:first-child {
                margin-top: 0;
            }

            table tr::after {
                position: absolute;

                content: '';

                left: 0;
                bottom: -16px;

                width: 100%;
                height: 1px;
                
                background-color: var(--gray-100);
            }

            table tr:last-child::after {
                display: none;
            }

            table tr th, td {
                text-align: start;
                font-size: 20px;
                line-height: 120%; 
                font-weight: 600;
                font-family: $font-second;
            }

            table tr th {
                font-weight: 400;
                opacity: 0.6;
            }

            table tr td span {
                position: relative;
                margin-right: 6px;
            }

            table tr td span::after {
                position: absolute;

                content: '';

                top: 50%;
                left: -4px;
                
                width: 107%;
                height: 2px;

                background-color: var(--primary-500);
                border-radius: var(--br--25);
            }
        }
    }
}

@include rmin($tablet) {
    .about {
        &__description h2,
        &__event-info h2 {
            padding-right: 150px;
        }

        &__description-img,
        &__event-img {
            width: 450px;
            margin: auto;
        }
    }
}

@include rmin($desktop) {
    .about {
        padding: 80px 0 0;

        &__description {
            align-items: center;
            flex-direction: row;
            justify-content: space-between;

            gap: 0;

            h2 {
                display: contents;
                padding-right: 0;

                font-size: 36px;
            }

            h2 span {
                display: contents;
            }

            
            &-img {
                flex-shrink: 0;
                order: 3;
                margin-left: 114px;

                width: 394px;
                height: 250px;
            }
        }

        &__event {
            margin-top: 36px;
            flex-direction: row;

            &-img {
                flex-shrink: 0;
                padding-left: 45px;
                
                width: 609px;
                height: 528px;
            }

            &-info {
                margin-top: 47px;
                padding: 0 72px 0 17px;
            }

            &-info h2 {
                padding-right: 0;
                font-size: 36px;
            }

            &-info p {
                font-size: 20px;
            }

            &-table {
                margin-top: 60px;
                margin-bottom: 48px;
            }

            &-table table {
                width: 95.2%;
                overflow: hidden;
            }

            &-table table tbody tr {
                flex-wrap: wrap;
            }

            &-table table tbody tr::after {
                height: 2px;
            }

            &-table table tbody tr th, td {
                width: 43.5%;
            }

            &-table table tbody tr td {
                position: relative;
            }

            &-table table tbody tr td span {
                margin-right: 12px;
            }
            &-table table tbody tr td::before {
                position: absolute;

                content: '';

                top: -16px;
                left: -16px;

                width: 2px;
                height: 226%;

                background-color: var(--gray-100);
            }
        }
    }
}