mixin hero()
    <section>
        <div class="hero">
            <div class="hero__info section">
                <h1>Превратите уездный город<span>в столицу</span><span>земного шара</span></h1>
                <p>Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам</p>
                <div class="hero__info-action">
                    <a href="/" class="btn btn--black">Поддержать шахматную мысль</a>
                    <a href="/" class="btn btn--light">Подробнее о турнире</a>
                    <a href="/" class="btn btn--transparent">Подробнее о турнире</a>
                </div>
            </div>
            <div class="hero__images">
                <div class="hero__bg">
                    <img src="./img/bg.svg" alt="">
                </div>
                <div class="hero__circle">
                    <img src="./img/circle.svg" alt="">
                </div>
                <div class="hero__chess-behind">
                    <img src="./img/chess-behind.svg" alt="">
                </div>
                <div class="hero__mask">
                    <img src="./img/hero-mask.svg" alt="">
                </div>
                <div class="hero__chess">
                    <img src="./img/chess.svg" alt="">
                </div>
                <div class="hero__chess-sm">
                    <img src="./img/chess-small.svg" alt="">
                </div>
            </div>
            <div class="hero__tricker-wrapper">
                <div class="hero__tricker-first">
                    <span>Дело помощи утопающим — дело рук самих утопающих!</span>
                    <span>Шахматы двигают вперед не только культуру, но и экономику!</span>
                    <span>Лед тронулся, господа присяжные заседатели!</span>
                </div>
                <div class="hero__tricker-second">
                    <span>Дело помощи утопающим — дело рук самих утопающих!</span>
                    <span>Шахматы двигают вперед не только культуру, но и экономику!</span>
                    <span>Лед тронулся, господа присяжные заседатели!</span>
                </div>
            </div>
        </div>
    </section>